body {
  background-fill: white;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

circle {
  opacity: 0.3;
}

.level0 {
  fill: lightskyblue;
}

.level1 {
  fill: lightseagreen;
}

.level2 {
  fill: pink;
}

.level3 {
  fill: lightblue;
}

.level4 {
  fill: lightgreen;
}

.level5 {
  fill: lightsalmon;
}

.level6 {
  fill: lightslategray;
}

.level7 {
  fill: lightgoldenrodyellow;
}